<div class="att-grid">

    <div class="row">
        <div class="col driver-display">
            <h1 class="score">
                <img src="images/displaypic-ryan.png"/>
                {{score}}<small>/100</small>
            </h1>
        </div>

        <div class="col driving-badges">
            <div class="row text-center">
                <div class="col">
                    <img ng-src="images/speed-{{status.speed}}.png" />
                    Safe Speed
                </div>
                <div class="col">
                    <img ng-src="images/smooth-{{status.smooth}}.png" />
                    Smooth Driving
                </div>
                <div class="col">
                    <img ng-src="images/weather-{{status.weather}}.png" />
                    Weather
                </div>
                <div class="col">
                    <img ng-src="images/messaging-{{status.messaging}}.png" />
                    Messaging
                </div>
            </div>
        </div>
    </div>

    <div class="row pickups">
        <div class="col">
            <h3>Pickup Requests</h3>
        </div>
    </div>

</div>

<div class="container pickup-list" id="main-container">
    <!-- <att-menu class="clear-list" items="pickups" title="Pickups"></att-menu> -->
    <div class="att-menu clear-list">
        <ul class="list">
            <li ng-repeat="pickup in pickups"><a>{{pickup.text}}<span>{{pickup.desc}}</span></a></li>
        </ul>
    </div>
</div>

