.status-box{
	padding: 10px;
	margin-right: 10px;
	background-color: rgba(30,30,30,.85);
}

.att-content-container:before{
	background-color: rgba(15,15,15,.65);
}

.change {
	background-color: blue;
	-webkit-transition: 1s linear;
	/*to only change opacity*/
	/*-webkit-transition: opacity 1s linear*/
	-moz-transition: 1s linear;
	-o-transition: 1s linear;
	transition: 1s linear;
	opacity: 1;
}

.col ul {
display: block;
list-style-type: none;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
-webkit-padding-start: 0px;
}

.col ul .att-badge {
float: right;
}

.col ul li {
	display: block;
	padding: 4px;
	font-size: 12px;
	border-bottom: 1px solid #333333;
}

.clear-list {
	background-color: rgba(0,0,0,0);
	padding-top: 0;
}

.att-grid .pickups.row {
	margin: 0;
}

.pickups h3 {
	margin: 0;
}

.pickup-list {
	margin-top: 20px;
}

.score img {
	width: 120px;
	vertical-align: top;
}

.score {
	margin: 0;
	font-size: 110px;
	color: white;
	display: inline-block;
}

.score small {
	font-size: 36px;
	color: grey;
}

.driving-badges {
	font-size: 16px;
	padding-left: 0;
}

.driving-badges .col, .driving-badges .row {
	padding-left: 0;
}

body .att-loader {
	display: none !important;
}

body .att-alert {
	min-height: 130px !important;
	padding-bottom: 100px !important;
}